# Expo
.expo/
.expo-shared/

# Dependencies
node_modules/

# Build
dist/
web-build/

# Native
/android/
*.jks
*.keystore
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
*.apk
*.aab
*.ap_
*.idsig
*.iml
*.hprof
*.jsbundle

# Metro
.metro-health-check*

# macOS
.DS_Store

# Windows
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Env
.env
.env.local
.env.*.local

# Misc
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/docs/
CLAUDE.md
